@model IEnumerable<DHRMVCCore.Models.JefeTerreno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CumPlaSem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsiReuPla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupPerObra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CumProgGen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActaIdActaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CumPlaSem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsiReuPla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupPerObra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CumProgGen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActaIdActaNavigation.IdActa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdJefeterreno">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdJefeterreno">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdJefeterreno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
