@model IEnumerable<DHRMVCCore.Models.ObsObra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compromisos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActaIdActaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compromisos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActaIdActaNavigation.IdActa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdObservacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdObservacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdObservacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
